.introduction {
    background-color: white;
    display: flex;
}
.left{
flex: 0.7;
overflow: hidden;
}
.right{
    flex: 0.7;
    position: relative;
    overflow: hidden;
}

.imgContainer {
    width: 700px;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.img {
    height: 110%;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    display:flex;
}

.anchor {
    position: absolute;
    bottom: 5px;
    left: 40%;
}

.arrowimg {
    width: 60px;
    height: 40px;
}

.introtxt {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
}

.paragraph {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
}