.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.ul {
    margin: 10px;
    padding: 0%;
    list-style: none;
    display: flex;
}

.li {
    font-size: 30px;
    margin: 50px;
    padding: 7px;
    cursor: pointer;
}

.container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img {
    height: 500px;
    width: 660px;
    object-fit: cover;
    z-index: 1;
}

.item {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    margin: 10px 20px;
    display: inline;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    cursor: pointer;
}

.h3 {
    position: absolute;
    font-size: 20px;
}

.portfolio {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(125, 125, 129);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}